.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: min-content;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, #9b59b6, #3498db);
  border-image-slice: 1;
  border-radius: 10px !important; /* This ain't working for some reason, probably because gradient is an image */
  background-color: #1a1b26;
  color: #fceacb;
  position: relative;
}

.toggle-button {
  display: inline-block;
  box-sizing: content-box;
  margin: 20px;
  padding: 10px;
  border: none;
  font: normal 16px / normal "Lucida Console", Monaco, monospace;
  color: rgba(187, 154, 247, 1);
  text-decoration: underline;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: none;
}

.toggle-button:hover {
  color: #e0af68;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 50px;
  color: #9aa5ce;
  background: none;
  border: none;
  padding: 0;
}

.close-btn:hover {
  color: #f7768e;
}
