.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

/* Style the labels */
.label {
    width: 50%; /* Adjust the width as needed to control the label size */
    text-align: right;
    margin-right: 10px; /* Adjust the spacing between label and input */
}

.input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 20px;
    padding: 10px;
    border: 5px solid #bb9af7;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font: normal 16px/normal "Lucida Console", Monaco, monospace;
    color: #cfc9c2;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #24283b;
}
