@tailwind base;
@tailwind components;
@tailwind utilities;


.input-container {
    @apply flex flex-row items-center mb-3;
}

/* Style the labels */
.label {
    @apply w-1/2 text-right mr-3 ml-3;
}

.input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 20px;
    padding: 10px;
    border: 5px solid #fff;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font: normal 16px/normal "Lucida Console", Monaco, monospace;
    color: #cfc9c2;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #24283b;
}

.input:hover {
    border-color: #e0af68;
}
.input:focus {
    border-color: #bb9af7;
}