.all-user-locations-title,.recommended-locations-title {
    padding: 2% 2% 2% 2%;
    text-align: left;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-text-fill-color: #d1b8ff;
    border: 1px solid #050209; /* #e0af68; OR #050209; */
    text-shadow: 2px 1px 3px #10071d;
    font: normal 20px/22px Verdana, Geneva, sans-serif;
}

.all-user-locations-show {
    height: 100%;
}

.all-user-locations-hide {
    height: 0;
    overflow: hidden;
    transition: all 0.1s ease-out;
}