.clicked-location-container {
    transition: 0.5s;
    overflow: hidden;
    padding: 2% 2% 2% 2%;
    text-align: left;
    -o-text-overflow: clip;
    text-overflow: clip;
    border: 1px solid #050209; /* #e0af68; OR #050209; */
    text-shadow: 2px 1px 3px #10071d;
    font: normal 22px/34px Verdana, Geneva, sans-serif;
}

.clicked-location-container-title {
    -webkit-text-fill-color: #d1b8ff;
    width: 70%;
    display: inline-block;
}

.clicked-location-container-info {
    padding: 2% 2% 2% 2%;
    width: 100%;
    display: inline-block;
    text-align: left;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 2px 1px 3px #10071d;
    font: normal 19px/22px Verdana, Geneva, sans-serif;
}

.clicked-location-container-buttons {
    padding: 2% 2% 2% 2%;
    position: relative;
    width: 30%;
    display: inline-flex;
    text-shadow: 2px 1px 3px #10071d;
    font: normal 15px/18px Verdana, Geneva, sans-serif;
}

.single-location-show{
    height: 100%;
}

.single-location-hide{
    height: 0;
    overflow: hidden;
    transition: all 0.1s ease-out;
}