.user-location-container {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    background: #24283b;
    border: 1px solid #050209; /* #e0af68; OR #050209; */
    margin: 1px 5px 2px 3px;
    height: 10%;
}

.user-location-container:hover {
    background-color: #343b58;
    transform: scale(1.005);
}

.user-location-container-title {
    padding: 2% 2% 2% 2%;
    text-align: left;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-text-fill-color: #d1b8ff;
    border: 1px solid #050209; /* #e0af68; OR #050209; */
    text-shadow: 2px 1px 3px #10071d;
    font: normal 19px/21px Verdana, Geneva, sans-serif;
}

.user-location-container-details {
    padding: 2% 2% 2% 2%;
    width: 100%;
    display: inline-block;
    text-align: left;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 2px 1px 3px #10071d;
    font: normal 16px/18px Verdana, Geneva, sans-serif;
}
